*.css linguist-detectable=false
*.html linguist-detectable=false
*.h linguist-detectable=false
*.tsx linguist-detectable=false
*.cpp linguist-detectable=false
*.cc linguist-detectable=false
*.sh linguist-detectable=false
